<label class="label">Announcement</label>
<textarea type="text" name="announcement" class="content"><%= currentAnnouncement%></textarea>
<div class="buttons">
    <button class="button" onclick="clearAnnouncement()">Clear Current Announcement</button>
</div>
<text class="label">TV Announcement</label>
<textarea type="text" name="tvAnnouncement" class="content"><%= currentTvAnnouncement%></textarea>
<div class="buttonsTv">
    <button class="button" onclick="clearTvAnnouncement()">Clear Current Announcement</button>
</div>
<br/>
<button class="button back-button" onclick="save_()">Save And Quit</button>
<p style="font-size: 5vw; margin: 15px;">This will notify anybody with notifications enabled</p>