<div class="buttons">
    <a id="button back-button" onclick="saveMap()" href="/admin">Back to Admin Page</a>
    <button id="map-change-button" onclick="changeMap()">Change Map &#x27F2;</button>
</div>


<body>


<div>


<table style="width:100%" id="next-wave">
    <th colspan="100%">Next Wave
        <tr style="height: 100px">
            <% for (let i = 0; i < data.nextWave.length; i++) { %>
                <td class="next-wave"><%= data.nextWave[i].busNumber %></td>
            <% } %>
        </tr>
    </th>
</table>
   
</div>


<div>


<table style="width:100%" id="current-wave">
    <th colspan="100%">Current Wave
        <tr style="height: 100px">
            <% for (let i = 0; i < data.currentWave.length; i++) { let bus = data.currentWave[i] %>
                <% if (bus.busNumber === 129) { %>
                    <td style="background-color: #ff3a3a;"><%= bus.busNumber %></td>
                <% } else { %>
                    <td><%= bus.busNumber %></td>
                <% } %>
            <% } %>
        </tr>
    </th>
</table>
   
</div>


<div>


<table style="width:100%" id="bus-lots">
    <th colspan="100%">Bus Lots
        <tr style="height: 100px" class="rowA">
            <% for (let i = 0; i < 14; i++) { %>
                <td><input placeholder="enter"></td>
            <% } %>
        </tr>
        <tr style="height: 100px" class="rowB">
            <% for (let i = 0; i < 14; i++) { %>
                <td><input placeholder="enter"></td>
            <% } %>
        </tr>
        <tr style="height: 100px" class="numbering">
            <% for (let i = 0; i < 14; i++) { %>
                <td> <%= i %> </td>
            <% } %>
        </tr>
    </th>
</table>
   
</div>
</body>