<div>

<table style="width:100%">
    <th colspan="100%">Next Wave
        <tr style="height: 100px">
            <% for (let i = 0; i < 8; i++) { %>
                <td><data>hello</data></td>
            <% } %>
        </tr>
    </th>
</table>

</div>