<div class="buttons">
    <a id="button back-button" onclick="save()" href="/admin">Save and Return</a>
    <button id="button back-button" onclick="save()">Save</button>
</div>
    
<body>

<form>

<div>

<table style="width:100%" id="bus-lots">
    <th colspan="100%">Bus Lots
        <tr style="height: 100px">
            <% for (let i = 0; i < 14; i++) { %>
                <td class="rowA">
                    <input type="number" inputmode="number" placeholder="bus #" value="<%=data.rowA[i]%>">
                </td>
            <% } %>
        </tr>
        <tr style="height: 100px">
            <% for (let i = 0; i < 14; i++) { %>
                <td class="rowB">
                    <input type="number" inputmode="number" placeholder="bus #" value="<%=data.rowB[i]%>">
                </td>
            <% } %>
        </tr>
        <tr style="height: 100px; background-color: transparent">
            <% for (let i = 1; i < 15; i++) { %>
                <td class="numbering"><%=i%></td>
            <% } %>
        </tr>
    </th>
</table>
   
</div>

</form>

</body>