<div class="buttons">
    <a id="button back-button" onclick="saveMap()" href="/">Back to Homepage</a>
    <a id="button back-button" onclick="saveMap()" href="/busMap">Waves</a>
</div>

<div>

    <table style="width:100%" id="bus-lots">
        <th colspan="100%">Bus Lots
            <tr style="height: 100px">
                <% for (let i = 0; i < 14; i++) { %>
                    <td class="rowA"></td>
                <% } %>
            </tr>
            <tr style="height: 100px">
                <% for (let i = 0; i < 14; i++) { %>
                    <td class="rowB"></td>
                <% } %>
            </tr>
            <tr style="height: 100px; background-color: transparent">
                <% for (let i = 1; i < 15; i++) { %>
                    <td class="numbering"> <%=i%> </td>
                <% } %>
            </tr>
        </th>
    </table>
       
</div>