<div class="buttons">
    <a id="button back-button" onclick="saveMap()" href="/admin">Save and Return</a>
</div>

<form>
    
<body>

<div>

<table style="width:100%" id="bus-lots">
    <th colspan="100%">Bus Lots
        <tr style="height: 100px">
            <% for (let i = 0; i < 14; i++) { %>
                <td><input class="rowA" inputmode="numeric" placeholder="bus #"></td>
            <% } %>
        </tr>
        <tr style="height: 100px">
            <% for (let i = 0; i < 14; i++) { %>
                <td><input class="rowB" inputmode="numeric" placeholder="bus #"></td>
            <% } %>
        </tr>
        <tr style="height: 100px; background-color: transparent" class="numbering">
            <% for (let i = 1; i < 15; i++) { %>
                <td><%=i%></td>
            <% } %>
        </tr>
    </th>
</table>
   
</div>

</body>

</form>