<!-- <table style="width:100%">
    <th colspan="100%">Next Wave
        <tr id="input">
            <script>
                for (let i = 0; i < 4; i++) {
                    document.write("<td><input type='text'></td>");
                }
            </script>
        </tr>
    </th>
</table>

<br> -->
<div>

<table style="width:100%">
    <th colspan="3">Bus Lots
        <tr style="height: 200px">
            <td>avacado</td>
            <td>lksdjf</td>
            <td>vegtetables</td>
        </tr>
    </th>
</table>

<br>

<table style="width:100%">
    <th colspan="3">Current Wave
        <tr style="height: 100px">
            <td>avacado</td>
            <td>lksdjf</td>
            <td>vegtetables</td>
        </tr>
    </th>
</table>

</div>