<body>
<div class="buttons">
        <button id="button back-button" onclick="saveMap()" href="/admin">Back to Admin Page</button>
        <button id="map-change-button" onclick="changeMap()">Change Map</button>
</div>

<div>

    <table style="width:100%" id="next-wave">
        <th colspan="100%">Next Wave
            <tr style="height: 100px">
                <% for (let i = 0; i < 8; i++) { %>
                    <td class="next"><%= data.currentWave%></td>
                <% } %>
            </tr>
        </th>
    </table>
        
</div>

<div>

    <table style="width:100%" id="current-wave">
        <th colspan="100%">Current Wave
            <tr style="height: 100px">
                <% for (let i = 0; i < 8; i++) { %>
                    <td class="current"></td>
                <% } %>
            </tr>
        </th>
    </table>
        
</div>

<div>

    <table style="width:100%" id="bus-lots">
        <th colspan="100%">Bus Lots
            <tr style="height: 100px">
                <% for (let i = 0; i < 14; i++) { %>
                    <td class="rowA"><input placeholder="enter"></td>
                <% } %>
            </tr>
            <tr style="height: 100px">
                <% for (let i = 0; i < 14; i++) { %>
                    <td class="rowB"><input placeholder="enter"></td>
                <% } %>
            </tr>
        </th>
    </table>
        
</div>
</body>