<form action="/updateBusMap" method="POST">
<div class="buttons">
        <button class="button back-button" onclick="saveMap()" href="/">Back to Admin Page</a>
</div>

    <div>

        <table style="width:100%">
            <th colspan="100%">Next Wave
                <tr style="height: 100px">
                    <% for (let i = 0; i < 8; i++) { %>
                        <td class="test"><input placeholder="enter"></td>
                    <% } %>
                </tr>
            </th>
        </table>
        
    </div>

    <div>

        <table style="width:100%">
            <th colspan="100%">Bus Lots
                <tr style="height: 100px">
                    <% for (let i = 0; i < 14; i++) { %>
                        <td class="test"><input placeholder="enter"></td>
                    <% } %>
                </tr>
                <tr style="height: 100px">
                    <% for (let i = 0; i < 14; i++) { %>
                        <td class="test"><input placeholder="enter"></td>
                    <% } %>
                </tr>
            </th>
        </table>
        
    </div>

    <div>

        <table style="width:100%">
            <th colspan="100%">Current Wave
                <tr style="height: 100px">
                    <% for (let i = 0; i < 8; i++) { %>
                        <td class="test"><input placeholder="enter"></td>
                    <% } %>
                </tr>
            </th>
        </table>
        
    </div>

</form>