<div class="buttons">
    <a id="button back-button" onclick="saveMap()" href="/">Back to Homepage</a>
    <a id="button back-button" onclick="saveMap()" href="/busMapLots">Lots</a>
    <button id="button highlight" onclick="pinnedBusHighlight()">Highlight</button>
</div>


<body>

<div>


<table style="width:100%" id="next-wave">
    <th colspan="100%">Next Wave
        <tr style="height: 100px">
            <% for (let i = 0; i < data.nextWave.length; i++) { %>
                <td class="next-wave"><%= data.nextWave[i].busNumber %></td>
            <% } %>
        </tr>
    </th>
</table>
   
</div>


<div>

<table style="width:100%" id="current-wave">
    <th colspan="100%">Current Wave
        <tr style="height: 100px">
            <% for (let i = 0; i < data.currentWave.length; i++) { %>
                <td class="current-wave"><%= data.currentWave[i].busNumber %></td>
            <% } %>
        </tr>
    </th>
</table>
   
</div>
</body>