<div id="credits">
    <i class="fa-regular fa-circle-xmark" onclick="toggleCredits()" style="position: absolute; z-index: 2; font-size: max(50%, 25px); right: 10px; top: 10px; cursor: pointer"></i>
    <div class="spacer"></div>
    <div class="starWarsContainer">
      <% for(var i = 0; i < 5; i++) { %>
        <p>Pierre Hanlet</p>
        <p>JD Piar</p>
        <p>Varun Vaid</p>
        <p>Maaz Zubair</p>
        <p>Sayee Anand</p>
        <p>Wyatt Barnes</p>
        <p>Kurt Lovisa</p>
        <p>Nolan Yee</p>
        <p>Devam Das</p>
        <p>Ronith Manikonda</p>
        <p>Everett Dombrowski</p>
        <p>Rohan Rao</p>
        <p>Lucas van Laerhoven</p>
        <p>Aidan Malana</p>
        <p>Muhammad Yulbarsov</p>
      <% } %>
    </div>
</div>