<div class="pins">
  <table class="pinned-bus-table">
    <thead>
        <th style="width: 3em"></th>
        <th style="width: 6em"></th>
        <th></th>
    <tbody>
    </tbody>
  </table>
  <div class="timer"></div>
</div>