<div class="announcement-div d-flex justify-content-center container-fluid mt-1">
  <div class="row text-center align-items-center justify-content-center">
      <!-- <i class="fa-solid fa-bullhorn"></i> -->
      <h3>Announcements:</h3>
      <!-- <hr> -->
      <p id="announcement-text"><%= data.announcement %></p>
  </div>
</div>

<div class="content-container nav-item container-fluid text-center mt-1">
  <div class="row justify-content-center dropdown-center">
    <button class="dropdown-toggle" type="button" data-bs-display="dynamic" data-bs-toggle="dropdown" data-bs-offset="0, 5" data-bs-auto-close="outside" aria-expanded="false" style="color: white">
    <i class="fa-solid fa-thumbtack"></i> 
    </button>
    <ul class="dropdown-menu">
      <% for(let i = 0; i < data.buses.length; i++) { %> 
          <li class = "bus-row p-1 text-center">
              <button class="pin-button" onclick="pinBus(this)" style="color: white"><%= data.buses[i].number %> <% if (data.buses[i].change) { %> &rarr; <%= data.buses[i].change %></span><% } %></button>
          </li>
      <% } %> 
    </ul>
  </div>
  <div class="row justify-content-center">
    <table class="pinned-bus-table text-center">
      <thead>
          <th style="width: 3em">Bus #</th>
          <th style="width: 6em">Time</th>
          <th>Status @Position</th>
      <tbody>
      </tbody>
    </table>
  </div>
</div>