<nav>
    <div id="weather" class="navbar-text"><%= data.weather.temperature %>&deg;F <%= data.weather.status %></div>
    <button type="button nav-button" onclick="enablePushNotifications('<%= data.vapidPublicKey %>')">
        <i class="fa-solid fa-bell-slash fa-beat-fade"></i>
    </button>
    <button class="navbar-toggler" onclick="expandNavbar()">!</button>
    <div class="navbar-dropdown" style="display: none">
        <button href="/busMap">Bus Map</button>
        <button current="page" href="/admin">Admin</button>
        <button target="_blank" href="https://forms.gle/ffekcnoKTtAUMBic6">Feedback</button>
        <button href="https://docs.google.com/presentation/d/e/2PACX-1vSfUMpX4-XEMOvtIoJxcHYy2l7Bm3YBtj-EBcZJxO58v8ATGB2Co0iLCiO0qbmC6_zVwcDglplT36rW/pub">Help</button>
        <button href="https://chromewebstore.google.com/detail/bus-app/cgceeklcikhpejkbldnppbbnnjibokok">Chrome Extension</button>
        <button style="cursor:pointer;" onclick="toggleCredits()">Credits</button>
    </div>
</nav>
