body {
   background-color: #363434;
   margin: 0;
   font-family: Verdana, sans-serif;
}
 
 
div {
   margin-bottom: 15px;
}
 
 
.buttons {
   display: flex;
   background-color: #2E294E;
   padding: 20px;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-bottom-color: #F46036;
}
 
 
table, tr, td, th {
   font-family: Verdana, sans-serif;
   padding: 15px;
   text-align: center;
   font-size: 20px;
}
 
 
tr, td {
   border-radius: 15px;
   background-color: #f7b90c;
   width: 50px;
}

.numbering {
   background-color: transparent;
   color: azure;
   font-weight: bold;
   border: transparent;
}
 
 
th {
   border-radius: 15px;
   color: black;
   background-color: aliceblue;
   margin: 50px;
}
 
 
table {
   border-spacing: 10px;
   
}
 
 
button, a {
   text-align: center;
   text-decoration: none;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   background-color: #F46036;
   color:aliceblue;
   font-family: Verdana, sans-serif;
   font-size: 20px;
   cursor: pointer;
}
 
 
a:hover, button:hover {
   border-color: azure;
}

#info {
   margin-left: auto;
   border-radius: 45%;
   font-size: 30px;
}
 
 
input {
   text-align: center;
   font-family: Verdana, sans-serif;
   font-size: 20px;
   border: transparent;
   width: 100%;
   background-color: transparent;
}

input.rowA, input.rowB {
   font-size: 15px;
   color: black;
   border-radius: 5px;
   width: 100%;
   padding: 5px;
}

.popup {
   display: none;
   position: fixed;
   top: 0; left: 0;
   width: 100%; height: 100%;
   background: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: flex-start;
}

.popup-content {
   color: azure;
   background: #2E294E;
   border-width: 2px;
   border-style: solid;
   border-color: #F46036;
   padding: 20px;
   margin: 50px auto;
   width: 300px;
   border-radius: 5px;
   text-align: center;
}

.popup:target {
   display: flex;
}

@keyframes glowNext {
   0% { box-shadow: 0 0 5px #1cbfff, 0 0 15px #1cbfff, 0 0 25px #1cbfff, 0 0 35px #1cbfff, 0 0 45px #1cbfff; }
   100% { box-shadow: none; }
}
@keyframes glowCurrent {
   0% { box-shadow: 0 0 5px #e43939, 0 0 15px #e43939, 0 0 25px #e43939, 0 0 35px #e43939, 0 0 45px #e43939; }
   100% { box-shadow: none; }
}