#table, tr, td, th {
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
    padding: 15px;
    text-align: center;
}

input {
    border: transparent;
    background-color: transparent;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

tr, td {
    border-radius: 15px;
    background-color: #f7b90c;
    width: 50px;
}

td:hover {
    background-color: #32a89e; /*#facb48;*/
    color: azure;
    cursor: pointer;
}

th {
    border-radius: 15px;
    color: azure;
    background-image: linear-gradient(to right, #4a4948, #24211f);
}