body {
   background-color: #363434;
   margin: 0;
   /* rotate: 90deg;
   transform: translate(0%, -100%);
   transform-origin: 0 0; */
}
 
 
div {
   margin-bottom: 15px;
}
 
 
.buttons {
   display: flex;
   background-color: #2E294E;
   padding: 20px;
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-bottom-color: #F46036;
}
 
 
table, tr, td, th {
   /* border-collapse: collapse; */
   font-family: Verdana, sans-serif;
   padding: 15px;
   text-align: center;
   font-size: 20px;
}
 
 
tr, td {
   border-radius: 15px;
   background-color: #f7b90c;
   width: 50px;
}

.numbering {
   background-color: transparent;
   color: azure;
   font-weight: bold;
   border: transparent;
}
 
 
/*
td:hover { 
   border-width: 2px;
   border-style: solid;
   border-color: azure;
   background-color: #f7b90c;
   color: azure;
   cursor: pointer;
} */
 
 
th {
   border-radius: 15px;
   color: black;
   background-color: aliceblue;
   margin: 50px;
}
 
 
table {
   border-spacing: 10px;
   
}
 
 
button, a {
   text-align: center;
   text-decoration: none;
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   border-width: 2px;
   border-style: solid;
   border-color: transparent;
   background-color: #F46036;
   color:aliceblue;
   width: 200px;
   font-family: Verdana, sans-serif;
   font-size: 20px;
   cursor: pointer;
}
 
 
a:hover, button:hover {
   border-color: azure;
}
 
 
input {
   text-align: center;
   font-family: Verdana, sans-serif;
   font-size: 20px;
   border: transparent;
   width: 100%;
   background-color: transparent;
}

input.submitA, input.submitB {
   font-size: 15px;
   background-color: #50c878;
   color: azure;
   border-radius: 5px;
   padding: 10px;
   margin: 5px;
   cursor: pointer;
}

@keyframes glowNext {
   0% { box-shadow: 0 0 5px #1cbfff, 0 0 15px #1cbfff, 0 0 25px #1cbfff; }
   100% { box-shadow: none; }
}
@keyframes glowCurrent {
   0% { box-shadow: 0 0 5px #e43939, 0 0 15px #e43939, 0 0 25px #e43939; }
   100% { box-shadow: none; }
}