* {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    scrollbar-width: none;
    overscroll-behavior: none;
}
:root {
    --crimson: #d7263dff;
    --giants-orange: #f46036ff;
    --space-cadet: #2e294eea;
    --lighter-blue: hsl(250, 31%, 40%);
    --night: #141415ff;
    --gray: #ebebeb
    /* --bs-navbar-brand-color: var(--dark-cyan) !important; */
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.pageContainer {
    backdrop-filter: blur(4px);
    min-height: 100vh;
    min-height: 100dvh;
}

.status-col {
    transition: background-position 1s linear;
    background-size: 210%;
}

.navbar-div {
    width: 98%;
    background-color: var(--space-cadet);
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80);
    margin-top: 0px !important;
}

.navbar-toggler, .nav-link {
    box-shadow: inset 0px -3px 0px 0px var(--crimson);
    line-height: 1.5em; 
}

.navbar-text, .navbar-toggler {
    background-color: var(--giants-orange);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    color: white;
}

.navbar-text {
    max-width: calc(88vw - 120px); 
    display: inline-block; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

#notif-button > i {
    width: 1.5em;
    line-height: 1.5em;
    cursor: inherit;
} #notif-button { cursor: inherit; }

.navbar-brand:hover, .navbar-toggler:hover, .nav-link:hover {
    transform: translateY(2px);
    box-shadow: unset;
}

.nav-item a {
    border-radius: 5px;
    background-color: var(--giants-orange);
    margin: 5px;
}

button:not(.navbar-toggler) {
    border-radius: 5px;
    background-color: var(--giants-orange);
    border: none;
    padding: 20px;
    width: 80%;
    border-bottom: solid var(--crimson); 
}

button:active{
    transform: translateY(1px);
}

.dropdown-toggle {
    max-width: 15em;
    margin-bottom: 5px;
}

.dropdown-menu {
    max-width: min(300px, 90%);
    height: 50vh;
    scrollbar-width: auto;
    overflow: scroll;
    background-color: var(--space-cadet);
    border: solid var(--giants-orange);
    border-radius: 5px;
    overflow: auto;
}

.announcement-div {
    width: 98%;
    background-color: var(--space-cadet);
    border-radius: 5px;
    /* color: var(--dark-cyan); */
    color: white;
    padding-top: 10px;
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80);
}

.content-container {
    width: 98%;
    background-color: var(--space-cadet);
    /* color: var(--dark-cyan); */
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(80, 80, 80);
    padding: 5px;
    padding-left: 5px;
    padding-top: 15px;
    margin-bottom: 5px;
}

.pinned-bus-table {
    width: 90%;
    max-width: 90%;
    border-collapse: separate;
    border-spacing: 15px;
}

td, .busContainer > p {
    border-radius: 5px;
    /* border: solid var(--giants-orange); */
    background-color: var(--lighter-blue);
    padding: 5px;
    box-shadow: 0px 0px 10px 0px var(--lighter-blue);
    --text-shadow-color: #00000070;
    text-shadow: 1px 1px 1px var(--text-shadow-color), -1px 1px 1px var(--text-shadow-color), 1px -1px 1px var(--text-shadow-color), -1px -1px 1px var(--text-shadow-color);
}

.tool-tip {
    max-width: min(80vw, 300px);
    background-color: var(--crimson);
    z-index: 9;
    position: fixed;
    padding: 5px;
    border-radius: 5px;
    transition: top 0.1s linear, left 0.1s linear;
    border: 2px solid var(--giants-orange);
    font-size: 20px;
    text-align: center;
    text-wrap: initial;
}

.tool-tip:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-bottom-color: var(--crimson);
	border-top: 0;
	margin-left: -7px;
	margin-top: -7px;
}

.busContainer > p {
    margin-left: calc(var(--bs-gutter-x) / 2);
    margin-right: calc(var(--bs-gutter-x) / 2);
}

.busContainer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#IOSnotifpopup > div, #whatsNewPopup > div {
    box-sizing: border-box;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    width: calc(100% - min(10%, 50px)); 
    max-height: calc(100% - min(10%, 50px));
    background-color: var(--space-cadet);
    border: 5px solid var(--giants-orange);
    border-radius: 10px;
    padding: 1em;
    overflow: auto;
}
#IOSnotifpopup, #whatsNewPopup {
    z-index: 10;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(5px);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1vw + 1em);
}

a {
    color: var(--giants-orange);
    cursor: pointer;
}

.button2 {
    background-color: #008CBA; 
    color: #ffffff;
}

.button2:hover {
    background-color: #003749;
    color: rgb(255, 255, 255);
} */

.android-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 3.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 4%;
}

#notif-notice {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 4.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 2%;
}

.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #31538d;
    color: #ffffff;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 88%;
    margin-bottom: 3%;
}

.announcement-div {
    position: relative;
}
.ribbon {
    --f: .5em; /* control the folded part */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.75;
    padding-inline: 1lh;
    padding-bottom: var(--f);
    border-image: conic-gradient(#0008 0 0) 51%/var(--f);
    clip-path: polygon(
      100% calc(100% - var(--f)),100% 100%,calc(100% - var(--f)) calc(100% - var(--f)),var(--f) calc(100% - var(--f)), 0 100%,0 calc(100% - var(--f)),999px calc(100% - var(--f) - 999px),calc(100% - 999px) calc(100% - var(--f) - 999px));
    transform: translate(calc((1 - cos(45deg))*100%), -100%) rotate(45deg);
    transform-origin: 0% 100%;
    background-color: var(--giants-orange); /* the main color  */
}

#networkIndicator {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 20px;
    aspect-ratio: 1 / 1;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.5s;
}
#networkIndicator > i {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
}

#networkBlocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height 0.5s;
    color: rgba(200, 200, 200, 0.6);
    backdrop-filter: grayscale(1) brightness(0.7);
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#networkBlocker:is(.shown){
    height: 100% !important;
    transition: height 0.5s;
}

#credits {
    --angle: 12deg;
    --gap: 20px;
    border-radius: 15px;
    display: none;
    position: fixed;
    width: calc(100% - calc(var(--gap) * 2));
    height: calc(100% - calc(var(--gap) * 2));
    left: var(--gap);
    top: var(--gap);
    background-color: black;
    background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)), radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    z-index: 1;
    perspective: 12vh;
    overflow: hidden;
    font-size: max(min(10vw, 10vh), 30px);
    text-align: center;
    color: yellow;
    animation-play-state: paused;
    font-family: sans-serif;
    font-weight: 900;
    outline: calc(var(--gap) + 15px) solid rgba(0, 0, 0, 0.8);
}
#credits > .spacer {
    position: relative;
    height: 100%;
}
#credits > .starWarsContainer {
    transform: rotateX(var(--angle)) translateY(0%);
    animation: forwards 40s 1 linear startwars, forwards 10s infinite linear starwars;
    animation-delay: 2s, 32s;
    animation-play-state: inherit;
    transform-origin: top;
    position: relative;
}
#credits > .starWarsContainer:before {
    content: "CREDITS";
    left: 50%;
    translate: -50%;
    display: block;
    position: absolute;
    animation: forwards 1.5s ease-in prologue;
    animation-delay: 0.5s;
    animation-play-state: inherit;
    font-size: 200%;
}
#credits p {
    padding-bottom: .75ch;
    line-height: 1.6ch;
}
@keyframes starwars {
    from {
        transform: rotateX(var(--angle)) translateY(-80%);
    } to {
        transform: rotateX(var(--angle)) translateY(-100%);
    }
}
@keyframes startwars {
    from {
        transform: rotateX(var(--angle)) translateY(0%);
    }
    to {
        transform: rotateX(var(--angle)) translateY(-80%);
    }
}
@keyframes prologue {
    from {
        transform: translateY(0%);
    } to {
        transform: translateY(-100%);
    }
}

@media (orientation: landscape) {
    .header {
        grid-template-columns: 4fr 9fr 3fr;
    }

    #login-button, .help-button {
        font-size: 1.8vw;
    }

    #notif-notice {
        font-size: 2vw;
        padding: 1%;
    }

    .pin-col {
        width: 5%;
    }

    #notif-notice:hover {
        cursor: pointer;
    }
  
    .timer-box{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
        background-color: #31538d;
        color: #ffffff;
        padding: 1%;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        width: 68%;
        margin-bottom: 3%;
    }

}

@media (display-mode: standalone) {
    body {
        user-select: none; 
    }
}
