* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
:root {
    --crimson: #d7263dff;
    --giants-orange: #f46036ff;
    --space-cadet: #2e294eff;
    --dark-cyan: #509191ff;
    --night: #141415ff;
    --gray: #ebebeb
    /* --bs-navbar-brand-color: var(--dark-cyan) !important; */
}

body {
    background-color: var(--gray); /* Doesn't work */
    background-image: url(../img/HuskieBubble.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    /* backdrop-filter: blur(10px); */
}

.navbar {
    transform: translate(1%, 1vh);
    width: 98%;
    background-color: var(--space-cadet);
    border-radius: 5px;
    /* color: var(--dark-cyan); */
    color: white;
    border: solid var(--giants-orange);
}


.navbar-text, .navbar-toggler {
    background-color: var(--giants-orange);
    border-radius: 5px;
    border-bottom: solid var(--crimson); 
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    color: white;
}

.navbar-brand:hover, .navbar-toggler:hover {
    transform: translateY(1px);
    border-bottom: none; 
}

.nav-item a {
    border-radius: 5px;
    background-color: var(--giants-orange);
    border-bottom: solid var(--crimson); 
    margin: 5px;
}

.nav-item:active a {
    transform: translateY(2px);
    border-bottom: none; 
}

button:not(.navbar-toggler) {
    border-radius: 5px;
    background-color: var(--giants-orange);
    border: none;
    padding: 5%;
    /* padding-left: 30%;
    padding-right: 30%; */
    width: 80%;
    border-bottom: solid var(--crimson); 
}

button:active{
    transform: translateY(1px);
    border-bottom: none; 
}

.dropdown-toggle {
    padding: 10px;
    max-width: 90%;
    margin-bottom: 5px;
}

.dropdown-toggle:active {
    margin-top: 3px;
}

.dropdown-menu {
    max-width: 90%;
    height: 50vh;
    scrollbar-width: auto;
    overflow: scroll;
    background-color: var(--space-cadet);
    border: solid var(--giants-orange);
    border-radius: 5px;
    overflow: auto;
}

.announcement-nav {
    width: 98%;
    background-color: var(--space-cadet);
    border-radius: 5px;
    /* color: var(--dark-cyan); */
    color: white;
    border: solid var(--giants-orange);
}

.content-container {
    width: 98%;
    background-color: var(--space-cadet);
    /* color: var(--dark-cyan); */
    color: white;
    border-radius: 5px;
    border: solid var(--giants-orange);

    padding: 5px;
    padding-left: 5px;
}

.pinned-bus-table {
    width: 90%;
    max-width: 90%;
    border-collapse: separate;
}

td {
    border-radius: 5px;
    border: solid var(--giants-orange);
}

#IOSnotifpopup > div, #whatsNewPopup > div {
    box-sizing: border-box;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translateX(-50%) translateY(-50%); 
    width: calc(100% - min(10%, 50px)); 
    max-height: calc(100% - min(10%, 50px));
    background-color: lightgray;
    border: 5px solid #327fa8;
    border-radius: 10px;
    padding: 1em;
    overflow: auto;
}
#IOSnotifpopup, #whatsNewPopup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(5px);
    font-family: 'Montserrat', sans-serif;
    font-size: calc(1vw + 1em);
}

.button2 {
    background-color: #008CBA; 
    color: #ffffff;
}

.button2:hover {
    background-color: #003749;
    color: rgb(255, 255, 255);
} */

.android-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 3.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 4%;
}

#notif-notice {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 4.5vw;
    background-color: #327fa8;
    color: #ffffff;
    padding: 2%;
}

.timer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #31538d;
    color: #ffffff;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 88%;
    margin-bottom: 3%;
}

#networkIndicator {
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 20px;
    aspect-ratio: 1 / 1;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.5s;
}
#networkIndicator > i {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
}

#networkBlocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transition: height 0.5s;
    color: rgba(200, 200, 200, 0.6);
    backdrop-filter: grayscale(1) brightness(0.7);
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#networkBlocker:is(.shown){
    height: 100% !important;
    transition: height 0.5s;
}

.credits {
    --angle: 10deg;
    --gap: 30px;
    display: block;
    position: fixed;
    width: calc(100% - calc(var(--gap) * 2));
    height: calc(100% - calc(var(--gap) * 2));
    left: var(--gap);
    top: var(--gap);
    background-color: black;
    background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)), radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    z-index: 1;
    perspective: 80px;
    overflow: hidden;
    font-size: min(10vw, 10vh);
    text-align: center;
    color: yellow;
}
.credits > .spacer {
    position: relative;
    height: 100%;
}
.credits > .starWarsContainer {
    animation: forwards 10s infinite linear starwars;
    transform-origin: top;
    position: relative;
}
@keyframes starwars {
    from {
        transform: rotateX(var(--angle)) translateY(-75%);
    } to {
        transform: rotateX(var(--angle)) translateY(-100%)/*translateY(calc(calc(-100vh / sin(var(--angle))) - 100%))*/;
    }
}

@media (orientation: landscape) {
    .header {
        grid-template-columns: 4fr 9fr 3fr;
    }

    #login-button, #notif-button, .help-button {
        font-size: 1.8vw;
    }

    #notif-notice {
        font-size: 2vw;
        padding: 1%;
    }
    
    .weather-temperature > *{
        padding: 5% 0 0;
    }

    .weather-status > *{
        padding: 0 0 3%;
    }

    .num-col:not(th) {
        font-size: 2vw;
    }

    .pin-col {
        width: 5%;
    }

    #notif-notice:hover {
        cursor: pointer;
    }
  
    .timer-box{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
        background-color: #31538d;
        color: #ffffff;
        padding: 1%;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        width: 68%;
        margin-bottom: 3%;
    }

}

