* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}

:root {
    --crimson: #d7263d;
    --giants-orange: #f46036;
    --space-cadet: #2e294e;
    --lighter-blue: hsl(250, 31%, 40%);
    --night: #141415;
    --gray: #ebebeb;
    --gap: 20px;
    --corner-rad: 10px;
    /* --bs-navbar-brand-color: var(--dark-cyan) !important; */
}

.section {
    border-radius: var(--corner-rad);
    background-color: var(--space-cadet);
    background-color: color-mix(in srgb, var(--space-cadet), transparent 10%);
    box-shadow: 0px 0px 10px 1px var(--space-cadet);
    color: white;
    overflow: hidden;
}

h2 {
    background-color: var(--giants-orange);
    font-size: min(4vw, 4vh);
    line-height: 2em;
    padding-left: 1ch;
}

#content {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.container {
    backdrop-filter: blur(3px);
    border: var(--gap) solid transparent;
    height: 100%;
}
.container, .top {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

.top > div {
    display: flex;
    flex-direction: row;
    column-gap: var(--gap);
}

.announcement {
    font-size: min(3.25vw, 3vh);
    flex-grow: 1;
} .announcement > div {
    padding: var(--gap);
}

.timer {
    --height: 6vh;
    background-size: 210%;
    background-color: green;
    transition: background-position 1s linear;
    height: var(--height);
    display: grid; align-items: center; justify-content: center;
    font-size: calc(var(--height) * 0.75);
    line-height: 1em;
    color: black;
}

.bottom {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-column-gap: var(--gap);    
}

.busNumber {
    font-size: 120%;
    font-weight: 900;
}

.busNumber.loading {
    animation: flash 0.5s infinite step-start alternate;
    color: #ff8080;
} @keyframes flash { 0% {} 50% { color: var(--giants-orange); } 100% {} }

.busContainer {
    padding: var(--gap);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.busContainer > p {
    background-color: var(--lighter-blue);
    padding: 5px;
    padding-inline: 15px;
    font-size: min(2.5vw, 3.8vh);
    border-radius: var(--corner-rad);
    box-shadow: 0px 0px 5px 5px var(--lighter-blue);
    flex-grow: 1;
}

.weather {
    padding: var(--gap);
    min-width: 18ch;
    max-height: 27.5vh;
    max-width: 27.5vh;
    flex-shrink: 1;
    display: grid;
    align-items: center;
    font-size: 110%;
}

.weather > .temp {
    font-size: 6.5ch;
}

@keyframes shake {
    0% { transform: translateX(-2.5px); background-color: #ff3030 }
    10% { transform: translateX(2.5px); background-color: red;}
    20% { transform: translateX(-2.5px); background-color: red }
    30% { transform: translateX(2.5px); background-color: red;}
    40% { transform: translateX(-2.5px); background-color: red }
    50% { transform: translateX(2.5px); background-color: red;}
    60% { transform: translateX(-2.5px); background-color: #ff3030 }
    70% { transform: translateX(2.5px); background-color: #ff3030;}
    80% { transform: translateX(-2.5px); background-color: #ff3030 }
    90% { transform: translateX(2.5px); background-color: #ff3030;}
    100% { transform: translateX(-2.5px); background-color: #ff3030 }
}
.shake {
    background-image: none !important;
    animation: shake 0.5s linear infinite;
}